/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Header */
header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: white;
}

/* CSS pour le tableau dans le dashboard */

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    text-align: left;
}

table th,
table td {
    padding: 5px 10px;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid #DDDDDD;
}

table>tbody>tr:not(:last-child)>td,
table th {
    border-bottom: 1px solid #DDDDDD;
}

table tbody tr:hover {
    background-color: #4A944A;
}

.UD {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.body_event {
    height: 500px;
    background-color: #333;
    width: 60%;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    color: white;
}

/* CSS pour les boutons */
input[type="submit"],
button,
.btn {
    background: linear-gradient(to bottom, #FEFEFE, #E7E7E7);
    padding: 7px;
    border-radius: 4px;
    border-color: #DDDDDD;
    cursor: pointer;
    border-width: 1px;
}

input[type="submit"]:hover,
button:hover,
.btn:hover {
    background: linear-gradient(to top, #FEFEFE, #E7E7E7);
}

input[name="Update"],
input[name="updated"],
input[name="created"] {
    background: linear-gradient(to bottom, #60C160, #52A552);
    border-color: #4A944A;
    color: white;
}

input[name="Update"]:hover,
input[name="updated"]:hover,
input[name="created"]:hover {
    background: linear-gradient(to top, #60C160, #52A552);
}

input[name="Cancelled"],
input[name="cancelled"] {
    background: linear-gradient(to bottom, #EE706C, #BE362F);
    border-color: #AF3933;
    color: white;
}

input[name="Cancelled"]:hover,
input[name="cancelled"]:hover {
    background: linear-gradient(to top, #EE706C, #BE362F);
}

input[type="submit"].event_read {
    /* background-color: red; */
    /* border: 10px solid red; */
    border: none;
    background: none;
    color: inherit;
    box-shadow: none;
    outline: none;
}

.print_event {
    color: white;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    align-items: center;
}